.content {
  border: 1px solid #333;
  padding: 15px;
  width: 70%;
  margin: 50px auto;
}

.listTodo {
  width: 70%;
  margin: 0 auto;
  border: 1px solid #333;
  min-height: 50px;
  padding: 10px 20px;
}

.listTodoWrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #111;
}

.itemWrap {
  width: 100%;
}

.listItem {
  list-style: none;
}

.btnRemoveTodo {
  background: transparent;
  border: none;
}

.activeItems {
  width: 70%;
  margin: 0 auto;
}