.content {
  border: 1px solid #333;
  padding: 15px;
  width: 70%;
  margin: 50px auto;
}

.listTodo {
  width: 70%;
  margin: 0 auto;
  border: 1px solid #333;
  min-height: 50px;
  padding: 10px 20px;
  border-bottom: 1px solid #111;
}

.listTodoWrap {
  display: flex;
  justify-content: space-between;
  background:#9e9e9e2e;
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.itemWrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  border: 1px solid #666;
  padding: 5px 10px;
}

.itemCheckbox {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.listItem {
  list-style: none;
}

.btnRemoveTodo {
  background: transparent;
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  border: 1px solid #666;
  width: 30px;
  height: 30px;
  background: #fd060654;
  color: #fff;
}

.activeItems {
  width: 70%;
  margin: 0 auto;
}
